<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>
<body>
    <%- include('../partials/header', {page: 'extra'});%>
    <main>
        <div>
            <h1>Bababoey</h1>
            <p>Yeobabab</p>
        </div>
    </main>
</body>
</html>