<h1>Books:</h1>
<div class="books-container">
    <a href="/">+Add Book+</a>
    {{#each books}}
        <div>#{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.page}} pages
        </div>
    {{/each}}

</div>