<header>
    
    <nav class="navbar mavbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EJS test</a>
        <a class="navbar-brand" href="/extra">Extra</a>
    </nav>
    <p>Page: <%= typeof page !== 'undefined' ? page: 'home' %></p>
</header>